html, body{
  height:100%;
  margin:0;
}
body {
  background-color: black;
  background-image: url(Big-history-stars.jpeg);
  background-attachment: fixed; 
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: lightgray;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

ol, ul {
  list-style-position: inside;
  padding-left: 0; 
  text-align: center; 
}

p {
  font-size: medium;
}

.content {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.65);
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding: 20px;
}

a:link {
  color:lightblue;
}
a:visited {
  color: lightblue;
}

a:active {
  color:white;
}

nav {
  background-attachment: fixed;
    background-color: #333;
    padding: 10px 0;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu li {
    display: inline;
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
}

.menu a:hover {
    background-color: #555;
    border-radius: 5px;
}

footer {
  font-style: italic;
  min-height: 50px;
  margin-top: auto;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.65);
  margin-left: auto;
  margin-right: auto;
}