body {
  background-image: url(Big-history-stars.jpeg);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

ol, ul {
  list-style-position: inside; /* moves numbers inside the <li> box */
  padding-left: 0; /* optional, remove default indentation */
  text-align: center; /* now both numbers and text are centered */
}

p {
  font-size: medium;
}

.content {
  width: 80%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding: 10px 0;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu li {
    display: inline;
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
}

.menu a:hover {
    background-color: #555;
    border-radius: 5px;
}