body {
  background-image: url(Big-history-stars.jpeg);
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  width: 80%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}